body{
    background-color: black;
}
#content{
    background-image: url('/images/bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

#nimg{
    border-radius: 500px;
    border: 2px solid gray;
    box-shadow: 14px 14px 14px rgb(56, 54, 54);
    margin-top: 20px;
    height: 30rem;
    width: 30rem;
    /* transition: width 0.5s ease-in 100ms;
    transition: height 0.5s ease-in 100ms; */
}
#nimg:hover{
    box-shadow: 14px 14px 24px greenyellow;
    transition: 0.8s;
    /* width: 31rem;
    height: 31rem; */
}
#text{
    display: inline-block;
}
h1{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 2.5em;
    text-shadow: 4px 4px 8px gray;
    margin-left: 1px;
    transition: font-size 0.3s ease-in 100ms;
}
h1:hover{
    text-shadow: 10px 10px 14px greenyellow;
    font-size: 42px
}
h3:hover{
    /* transition: 0.5s; */
    text-shadow: 10px 10px 14px greenyellow;
    font-size: 20px
}
h3{
    color: white;
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px 8px gray;
    transition: font-size 0.3s ease-in 100ms;
}
span{
    font-size: 1.5em;
}
#buttons{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.btn{
    font-size: 1em;
    margin-top: 25px;
    color: white;
    padding: 25px;
    border: 0.4px dashed white;
    border-radius: 35px;
    background-color: black;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    transition: font-size 0.5s ease-out 100ms;

}
.btn:hover{
    border: 0.4px solid white;
    color: #acff2f;
    background-image: url('/images/btnBg.gif');
    background-size: cover;
    transition: 0.7s;
    box-shadow: 14px 14px 20px gray;
    font-size: large;
}

#me{
    padding-left: 2em;
    padding-right: 2em;
}

@media (max-width: 600px) {
    #nimg{
        width: 20rem;
        height: 20rem;
    }
    #content{
        height: 50rem;
    }
  }