body{
    /* font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; */

    font-family: 'Lato', sans-serif;
    background-color: gray;
}

::selection {
    color: gray;
    background: black;
  }
  
#navbar{
    background: linear-gradient(to bottom, rgb(206, 195, 195), #f8f8f8);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px;
    box-shadow: 4px 4px 10px black ;
}

.link{
    padding: 2px;
    text-decoration: none;

}
.navitems{
    display: inline-block;
    color: black;
    font-size: 150%;
}

.navitems:hover{
    text-shadow: 4px 4px 18px black ;
    color: white;
    transition: 0.2s;
}


.headings{
    text-shadow: 4px 4px 8px gray;
    font-size: 4em;
}

.cards{
    background: linear-gradient(to bottom, rgb(206, 195, 195), #f8f8f8);
    box-shadow: 4px 4px 10px black;
    margin: 30px;
    padding: 20px;
    padding-right: 60px;
    border-radius: 10px;
    box-shadow: 8px 8px 20px black;
    overflow:auto;
}

.cards:hover{
    box-shadow: 8px 8px 20px white;
    transition: 0.5s;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#back{
    background: black;
    color: white;
    border: 1px solid #3a3737;
    padding: 5px;
    border-radius: 500px;
}
#back:hover{
    background: gray;
    color: white;
    box-shadow: 4px 4px 8px gray;
}

.skl{
    padding: 5px;
    margin: 4px;
    display: inline-block;
    border: 1px solid rgb(70, 68, 68);
    background-color: grey;
    color: white;
    border-radius: 5px;
}
.skl:hover{
    box-shadow: 4px 4px 8px rgb(29, 28, 28);
    transition: 0.2s;
}

.ttl{
    font-size: 1.5em;
    /* font-weight: bold; */
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.txt{
    font-size: 1em;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span{
    color: black;
}
.icons{
    display: inline-block;
    padding: 10px;
}

.top{
    font-size: 1.2em;
    font-weight: bolder;
}

.tt{
    font-size: 0.9em;
    font-weight: 500;
}
.time{
    float: right;
    color: rgb(56, 54, 54);
}
footer{
    text-align: center;
    font-family: 'Architects Daughter', cursive;

}
#ns:hover{
    text-shadow: 6px 6px 20px red;
    color: pink;
    transition: 0.4s;
}
#hrt:hover{
    font-size: larger;
    transition: 0.3s;
    text-shadow: 4px 4px 20px pink;
}
a:hover{
    text-shadow: 5px 5px 20px navy;
    color: cyan;
    transition: 0.5s;
}
.bold{
    font-weight: bold;
}
a{
    text-decoration: none;
}

#ns{
    color: red;
}
#ff{
    text-decoration: none;
}

.bt{
    border: 1px solid black;
    padding: 6px;
    border-radius: 20px;
    background-color: gray;
}


#mail{
    background-color: lightcoral;
}
#mail:hover{ 
    background-color: gray;
}
#twt{
    background-color: paleturquoise;
}
#twt:hover{ 
    background-color: gray;
}
#disc{
    background-color: rgb(212, 134, 212);
}
#disc:hover{ 
    background-color: gray;
}
#lnkd{
    background-color: rgb(56, 163, 230);
}
#lnkd:hover{ 
    background-color: gray;
}
#mdm{
    background-color: lightslategray;
}
#mdm:hover{ 
    background-color: gray;
}
#ghb{
    background-color: lightgreen;
}
#ghb:hover{ 
    background-color: gray;
}
#dv{
    background-color: black;
    color: white;
}
#dv:hover{ 
    background-color: white;
    transition: 0.4s;
    color: black;
    font-weight: bolder;
}
.bt:hover{
    background-color: gray;
    border: 1px dashed black;
    box-shadow: 4px 4px 8px gray;
    color: white;
    transition: 0.4s;
    font-size:large;
}

.bld{
    font-weight: bolder;
}

.bt{
    font-family: 'Architects Daughter', cursive;

}
